[submodule "server"]
	path = server
	url=git@github.com:DynAuth/DynAuth-Server.git
[submodule "docs"]
	path = docs
	url=git@github.com:DynAuth/DynAuth-Docs.git
[submodule "wp7"]
	path = wp7
	url=git@github.com:DynAuth/DynAuth-WP7.git
[submodule "ios"]
	path = ios
	url=git@github.com:DynAuth/DynAuth-iOS.git
[submodule "android"]
	path = android
	url=git@github.com:DynAuth/DynAuth-Android.git